<section class="pagination">
    <% if(prevPage !== 1 && currentPage !== 1) { %>
        <a href="?page=1">1</a>
    <% } %>

    <% if(hasPrevPage) { %>
        <a href="?page=<%=prevPage%>"><%=prevPage%></a>
    <% } %>   
    
    <span> <%=currentPage%> </span>
    
    <% if(hasNextPage) { %>   
        <a href="?page=<%=nextPage%>"><%=nextPage%></a>
    <% } %>
    
    <% if(lastPage !== 1 && currentPage !== lastPage && nextPage !== lastPage) { %>   
        <a href="?page=<%=lastPage%>"><%=lastPage%></a>
    <% } %>
</section>