<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>
        <main>
            <% if(orders.length > 0 ) { %>
                <ul>
                    <% for(const order of orders) { %>
                        <li>
                            <h1># <%= order._id %> </h1>
                            <ul>
                                <% for(const item of order.items) { %>
                                    <li>
                                        <%= item.product.title %> (<%= item.qty %>)
                                    </li>
                                <% } %>
                            </ul>
                        </li>
                    <% } %>
                </ul>
            <% } else { %>
                <h1> You dont have any orders </h1>
            <% } %>
        </main>
    </body>

    </html>